body {
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container {
    max-width: 500px;

}

form #move {
    margin-top: 10px;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;

}

.details {
    margin-bottom: 40px;
}

button {
    margin: 10px 0 0 7px;
    cursor: pointer;
    width: 60px;
    height: 40px;
}

.overall {
    display: flex;

}

.overall div:nth-of-type(1) {
    flex-grow: 3;
}

::placeholder {
    color: #555;
}


/* New */

#result-box {
    width: 410px;
    background: #fff;
    margin-top: 0px;
    border-radius: 5px;
}

#result-box ul {
    border-top: 1.5px solid #999;
    padding: 15px 10px;
}

#result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 10px 10px;
    cursor: pointer;
    text-align: left;

}

#result-box ul li:hover {
    background: #e9f3ff;
}

.result-box {
    max-height: 300px;
    overflow-y: scroll;
}